@mixin loginBackground{
    // POSITIONING
    width: 400px;
    height: 450px;
    grid-column-start: 2 ;
    grid-row-start: 1;
}

@mixin loginRegisterButtons {
    // DESIGN
    color: $white;
    cursor: pointer;
    border-radius: 10px;
    border: none;

    // TYPOGRAPHY
    font-family: $sen;

    // POSITIONING
    width: 150px;
    height: 40px;
    margin-top: 40px;

}

@mixin termsAndPolicy{
    // POSITIONING
    width: 268.01px;
    margin-left: calc(50% - 134px);
    margin-top: 20px;

    // TYPOGRAPHY
    text-align: center;
    font-family: $varelaRound;
    font-size: 12px;

    // DESIGN
    opacity: 0.8;
}

@mixin input {
    // POSITIONING
    margin-top: 30px;
    width: 200px;
    height: 50px;

    // DESIGN
    border-radius: 10px;
}

@mixin backgroundImages{
    //CONTAINER OF BACKGROUND IMAGES
    .slide1{background-image: url('img/1.jpg')}
    .slide2{background-image: url('img/2.jpg')}
    .slide3{background-image: url('img/3.jpg')}
    .slide4{background-image: url('img/4.jpg')}
    .slide5{background-image: url('img/5.png')}
    .slide6{background-image: url('img/6.jpg')}
    .slide7{background-image: url('img/7.jpg')}
}

@mixin  bodyMain {
        // DESIGN
        background: $body-bg;

        // POSITIONING
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
}

