// Body
$body-bg: #FEF8EC;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Fonts
$varelaRound: 'Varela Round';
$spinnaker:'Spinnaker';
$sen: 'Sen';
$coveredByYourGrace: 'Covered By Your Grace';

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$darkSeaBlue: #2F2FA2;
$white: #ffffff;
$darkOrange: #f64c72;
$darkGreen: #2d9730;
$lightSilver: rgb(216, 215, 215);
$darkCharcoal: #333333;
$error: #f44336;

//Positioning
$loginRegisterButtonMarginLeft: calc(50% - 125px);

//Box Shadowing
$boxShadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
